<div id="categories-container" class="info-box">
	<div id="categories-header">
		Who's Bringing What?
	</div>
	<% if @event.categories.count == 0 %>
		<div id="categories-empty">
			No categories
		</div>
			<!-- div#categories-empty -->
	<% elsif @event.categories.count <= 2 %>
		<% @event.categories.each do |category| %>
			<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
				<div id="" class="<%= category.title.gsub(/\s+/, '') %> category" data-id="<%= category.id %>">
					<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
					<span class="cat-name"> <%= category.title %></span>
				</div>
			</a>
		<% end %>
		<% 2.times do %> 
			<% @event.categories.each do |category| %>
				<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
					<div id="" class="<%= category.title.gsub(/\s+/, '') %> category repeat" data-id="<%= category.id %>">
						<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
						<span class="cat-name"> <%= category.title %></span>
					</div>
				</a>
			<% end %>
		<% end %>
	<% elsif @event.categories.count <= 5 %>
		<% @event.categories.each do |category| %>
			<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
				<div class="<%= category.title.gsub(/\s+/, '') %> category" data-id="<%= category.id %>">
					<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
					<span class="cat-name"> <%= category.title %></span>
				</div>
			</a>
		<% end %>
		<% @event.categories.each do |category| %>
			<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
				<div class="<%= category.title.gsub(/\s+/, '') %> category repeat" data-id="<%= category.id %>">
					<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
					<span class="cat-name"> <%= category.title %></span>
				</div>
			</a>
		<% end %>
	<% elsif @event.categories.count > 5 %>
		<% @event.categories.each do |category| %>
			<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
				<div class="<%= category.title.gsub(/\s+/, '') %> category" data-id="<%= category.id %>">
					<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
					<span class="cat-name"> <%= category.title %></span>
				</div>
			</a>
		<% end %>
	<% end %>
</div>
	<!-- div#categories-container -->