<div id="login-modal" class="auth-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @user, url: "/sessions", method: :post do |f| %>
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h1 class="modal-title">Login</h1> -->
      	<% if flash[:auth_error] %>
      		<% flash.each do |key, value| %>
        		<div class="flash <%= key %>">
        			<%= value %>
        		</div>
				  <% end %>
      	<% end %>
          <div class="input-container">
            <div>
              <div class="input-icon">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              </div>
          	 <%= f.email_field :email, placeholder: "mailbox@domain.com", class: "" %>
            </div>
            <div>
              <div class="input-icon">
                 <i class="fa fa-lock" aria-hidden="true"></i>
              </div>
          	   <%= f.password_field :password, placeholder: raw("Password e.g. &bull;&bull;&bull;&bull;&bull;&bull;&bull;"), class: "" %>
            </div>
            <%= f.submit "Submit", class: "submit"%>
          </div>
            <!-- div.input-container -->
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div>
</div>