<div id="signup-modal" class="auth-modal modal fade site-modal" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @user, url: "/signup", method: :post do |f| %>
      <div class="modal-body signup-modal">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <!-- <h1 class="modal-title">Signup</h1> -->
            <div class="errors-container">
            	<% if flash[:signup_error] %>
            		<% flash.each do |key, value| %>
              		<div class="flash <%= key %>">
              			<%= value %>
              		</div>
      				  <% end %>
            	<% end %>
              <% if @user.errors.any? %>
                <div id="error-explanation" class="text-center">
                  <i class="fa fa-exclamation-circle"></i>
                  <ul class="list-unstyled">
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
            <div class="input-container">
              <div class="choose-avi">
                  <label for="user_avi"><span id="button-avi" class="site-button">Upload Avi</span></label><br><span id="filename"></span>
                  <%= f.file_field :avi %>
              </div>
              <span id="username-tracker" class="input-limit-tracker" data-inputname="username" data-limit="15">0/15</span>
              <div class="input-limit-container">
                <div class="input-icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
               <%= f.text_field :username, placeholder: "Username e.g. \"jmoriarty\"", class: "input-limit", id: "signup-username", data: { limit: "15", inputname: "username" } %>
              </div>
              <div>
                <div class="input-icon">
                 <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
               <%= f.email_field :email, placeholder: "Email e.g. \"mailbox@domain.com\"", class: "", id: "email-username" %>
              </div>
               <span id="from-tracker" class="input-limit-tracker" data-inputname="from" data-limit="20">0/20</span>
              <div class="input-limit-container">
                <div class="input-icon">
                 <i class="fa fa-map-marker" aria-hidden="true" class="map-marker"></i>
                </div>
               <%= f.text_field :from, placeholder: "From e.g. \"Bay Area\"", class: "input-limit", id: "from", data: { limit: "20", inputname: "from" } %>
              </div>
              <span id="bio-tracker" class="input-limit-tracker" data-inputname="bio" data-limit="100">0/100</span>
              <div class="input-limit-container">
               <%= f.text_area :bio, placeholder: "Bio e.g. \"I like long walks on the beach.\"", class: "input-limit", id: "from", data: { limit: "100", inputname: "bio" } %>
              </div>
              <div>
                <div class="input-icon">
                   <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
            	   <%= f.password_field :password, placeholder: raw("Password e.g. &bull;&bull;&bull;&bull;&bull;&bull;&bull;"), class: "password-confirm pass-first" %>
              </div>
              <div>
                <div class="input-icon">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="pass-match-container">
                  <i class="fa fa-times-circle pass-nomatch" aria-hidden="true"></i>
                </div>
            	   <%= f.password_field :password, placeholder: "Re-enter password", class: "password-confirm pass-second" %>
              </div>
              <div class="register-container">
                <%= f.submit "Submit", class: "submit register"%>
              </div>
            </div>
              <!-- div.input-container -->
      </div>
        <!-- div.modal-body -->
      <% end %>
    </div><!-- /.modal-content -->
  </div>
</div>