<div id="my-notifications-container" class="default-container">
	<div id="notifications-container" class="clearfixs">
		<% if @notifications.count == 0 %>
			<div id="notifications-header" class="empty">
				Notifications
			</div>
				<!-- div#notifications-header -->
			<div class="notifications-empty">
				Your notifications inbox is empty
			</div>
		<% else %>
			<div id="notifications-header">
				Notifications
				<div id="notifications-options">
					<button class="default-option btn-default dismiss-marked" data-action="dissmiss-marked">
						Dismiss Marked
					</button>
					<div class="dropdown">
					  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <i class="fa fa-caret-down" aria-hidden="true"></i>
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item dismiss-all" href="">Dismiss All</a>
					  </div>
					</div>
						<!-- div.dropdown -->
				</div>
					<!-- div#notifcations-options -->
			</div>
			<% @notifications.each do |notification| %>
				<% if notification.read == false %>
					<div class="notification-box clearfixs">
						<div class="mark-box">
							<input type="checkbox" class="notification-checkbox" id="<%= notification.id %>" value="<%= notification.id %>">
						</div>
						<div class="information clearfixs">
							<% if notification.event != nil %>
								<div class="img" style="background: url('<%= image_path(notification_image(notification))%>') no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"><a href="/events/<%= notification.event.id%>" class="event-link"></a></div>
							<% else %>
								<div class="img" style="background: url('<%= image_path(notification_image(notification))%>') no-repeat center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
							<% end %>
							<div class="notification-message">
								<%= the_update(notification).html_safe %> 
							</div>
								<!-- div.notification-message -->
							<div class="notification-icon <%= notification.what_kind %>">
								<%= notification_icon(notification) %>
							</div>
								<!-- div.notification-icon -->
							<% if notification_action_wrapper?(notification) %>
								<div class="notification-action-wrapper">
									<div class="<%= notification.what_kind %> action-wrapper clearfixs">
										<%= notification_default_action(notification) %>
										<div class="dropdown">
											<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    	<i class="fa fa-caret-down" aria-hidden="true"></i>
										    </button>
											<div class="dropdown-menu <%= notification.what_kind %> options" aria-labelledby="dropdownMenuButton">
												<% notification_options(notification).each do |option| %>
													<%= option.html_safe %>
												<% end %>
											</div>
										</div>
										<div class="friend-request-options">

										</div>
									</div>
										<!-- div.%= notification.what_kind %> -->
								</div>
									<!-- div.notification-action-wrapper -->
							<% end %>
								<!-- if notification.what_kind -->
						</div>
							<!-- div.information -->
					</div>
						<!-- div.notification-box -->
				<% end %>
					<!-- if notification.read -->
			<% end %>
				<!-- notifications.each -->
		<% end %> 
	</div>
		<!-- div#notifications-container -->
</div>
	<!-- div#my-notifications-container -->