<div id="user-edit-container" class="default-container">
	<div class="clearfixs user-form-container">
		<div class="errors-container">
          <% if @user.errors.any? %>
            <div id="error-explanation">
              <i class="fa fa-exclamation-circle"></i>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        	<!-- errors-container -->
		<%= form_for @user, url: "/my_profile/edit", method: "patch" do |f| %>
			<div class="input-container clearfixs">
				<div id="avi-container">
					<img src="<%= image_path(current_user.avi(:small)) %>">
					<% if @user.default_photo? == false %>
						<a href="/avi-crop" data-no-turbolink="true">
							<button class="site-button crop" type="button">Crop Avi</button>
						</a>
					<% end %>
					<label for="user_avi" class="site-button replace">
						Replace
					</label>
					<br>
					<span id="filename"></span>
						<%= f.file_field :avi, hidden: true %>
				</div>
					<!-- div#avi-container -->
				<div class="input-limit-container">
					<label>Username</label><br>
					<%=	f.text_field :username, class: " input-limit", placeholder: "Moriarty", data: { limit: "15", inputname: "username" }  %>	
					<span class="input-limit-tracker" data-inputname="username" data-limit="15">0/15</span>
				</div>
				<div class="">
					<label>Email</label><br>
					<%=	f.email_field :email, class: "", placeholder: "mailbox@domain.com"  %>	
				</div>
				<div class="input-limit-container">
					<label>From</label><br>
					<%=	f.text_field :from, class: " input-limit", placeholder: "Bay Area", data: { limit: "20", inputname: "from" }  %>	
					<span class="input-limit-tracker" data-inputname="from" data-limit="20">0/20</span>
				</div>
				<div class="input-limit-container">
					<label>Bio</label><br>
					<%=	f.text_area :bio, class: "bio input-limit", placeholder: "I like long walks on the beach, hikes, and knit in my spare time.", data: { limit: "100", inputname: "bio" }  %>
					<span class="input-limit-tracker" data-inputname="bio" data-limit="100">0/100</span>
				</div>
				<div class="">
					<label>Change Password</label><br>
					<%= password_field_tag "user[new_pass]", nil, class: "", placeholder: "new password"  %>	
				</div>
				<div class="">
					<label>Retype Change</label><br>
					<%= password_field_tag "user[retype_pass]", nil, class: "", placeholder: "retype password"  %>	
				</div>
				<div class="submit-wrapper">
					<%= f.submit id:"user-edit-submit", class: "site-button", value: "Save Changes" %>
				</div>
			</div>
				<!-- div.input-container -->
		<% end %>
	</div>
</div>
	<!-- div#user-edit-container -->