<div id="user-search-container" class="clearfixs default-container">
	<div id="search-container" class="col-sm-4">
		<div id="search-box">
			<form class="form" method="get" action="/users/search">
				<div class="text-center">
					<h4>Find a Friend</h4>
					<div>
						<label>Username</label><br>
						<input type="text" class="search-full" name="user[username]" placeholder='Flash' value='<%= @user_search_params != nil ? @user_search_params[:username] : ""%>'> 
					</div>
					<div>
						<label>Email</label><br>
						<input type="email" class="search-full" name="user[email]" placeholder='barryisflash@star.labs' value='<%= @user_search_params != nil ? @user_search_params[:email] : ""%>'> 
					</div>

					<button type="submit" class="btn btn-default site-button">
						Search
					</button>
				</div>
			</form>
				<!-- form -->
		</div>
			<!-- div#search-box -->
	</div>
		<!-- div#search-container -->
	<div id="users-results-container" class="col-sm-8">
		<div id="search-results">
			<% if @users != nil && @users.length > 0 %>
				<% if @users.length > 0 %>
					<div id="results-count">
						<span><%= @users.count %> user(s) found</span>
					</div>
					<% @users.each do |user| %>
						<div class="user-box clearfixs">
							<img src="<%= image_path(user.avi(:medium)) %>" class="avi">
							<div class="content">
								<span class="username"><%= user.username %></span>
								<br>
								<span class="from"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.from %></span>
								<br>
								<span class="bio"><%= textarea_newlines(user.bio) %></span>
								<br>
								<% if current_user.is_friend?(user) %>
									<div class="friendship is-friends"><i class="fa fa-check" aria-hidden="true"></i> Friend</div>
								<% elsif current_user.friendship_pending?(user) %>
									<div class="friendship friendship-pending"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Pending</div>
								<% else %>
									<%= link_to '<button class="site-button"><i class="fa fa-user-plus" aria-hidden="true"></i> Friend</button>'.html_safe, "/friendships/#{user.id}/friend_request", method: :post %>
								<% end %>	
							</div>
								<!-- div.content -->
						</div>
							<!-- div.user-box -->
							<hr>
					<% end %>
						<!-- @events.each -->
				<% else %>
					<div id="results-count">
							<span><%= @events.count %> event(s) found hosted by <%= @username %></span>
					</div>
				<% end %>
					<!-- if @events.length > 0 -->
			<% elsif @users == nil %>
				<div id="results-count">
					<span> Search Results </span>
				</div>
			<% elsif @users.length == 0 %>
				<div id="results-count">
					<% if (@user_search_params[:username].length > 0) && (@user_search_params[:email].length > 0) %>
						<span> No user found with the username <%= @user_search_params[:username] %>, or email <%= @user_search_params[:email] %> </span>
					<% elsif @user_search_params[:username].length > 0 %>
						<span> No user found with the username <%= @user_search_params[:username] %></span>
					<% elsif @user_search_params[:email].length > 0 %>
						<span> No user found with the email <%= @user_search_params[:email] %></span>
					<% else %>
						<span> Please enter a host username or email </span>
					<% end %>
				</div>
			<% end %>
				<!-- if @events -->
		</div>
	</div>
		<!-- div#events-results-container -->
</div>