<div id="event-edit-container" class="clearfixs default-container">
	<div class="clearfixs event-form-container">
		<div class="errors-container">
          <% if @event.errors.any? %>
            <div id="error-explanation">
              <i class="fa fa-exclamation-circle"></i>
              <ul>
              <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        	<!-- errors-container -->
		<div class="form-container">
			<%= form_for @event, url: "/events/#{@event.id}", method: "patch" do |f| %>
				<div class="clearfixs">
					<div>
						<label>Name of Event</label><br>
						<%=	f.text_field :title, class: "full input-limit", placeholder: "Sci-Fi Saturday", data: { limit: "22", inputname: "title" }%>
						<span class="input-limit-tracker" data-inputname="title">0/22</span>
					</div>
					<div>
						<label>Search Key</label><br>
						<%=	f.text_field :search_key, class: "full input-limit", placeholder: "movie night", data: { limit: "18", inputname: "search_key" }%>
						<span class="input-limit-tracker" data-inputname="search_key">0/18</span>
					</div>
					<div>
						<label for="photo">Event Picture(s)</label><br><span id="filename"></span>
						<div class="event-img-container event-photo-container col-xs-12 col-sm-12 edit">
							<img class="photo" src="<%= @event.photo(:medium) %>">
							<span id="photo-filename"></span>
							<% if @event.default_photo? == false %>
								<a class="crop" href="/events/<%= @event.id%>/photo/crop" data-no-turbolink="true">
									<button class="site-button" type="button">Crop</button>
								</a>
							<% end %>
							<label for="event_photo" class="edit">
								<div class="file-label">
									<div class="button">
										<div><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Replace Photo</div>
									</div>
								</div>
							</label>
						</div>
							<!-- div.event-photo-container -->
						<div class="event-img-container event-banner-container col-xs-12 col-sm-12 edit">
							<img class="banner" src="<%= @event.banner(:thumb) %>">
							<span id="banner-filename"></span>
							<% if @event.default_banner? == false %>
								<a class="crop" href="/events/<%= @event.id%>/banner/crop" data-no-turbolink="true">
									<button class="site-button" type="button">Crop</button>
								</a>
							<% end %>
							<label for="event_banner" class="edit">
								<div class="file-label">
									<div class="button">
										<div><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp; Replace Banner</div>
									</div>
								</div>
							</label>
						</div>
							<!-- div.event-banner-container -->
	                 	<%= f.file_field :photo, class: "photos medium" %>
	                 	<%= f.file_field :banner, class: "photos medium" %>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label>Name of Venue</label><br>
						<%=	f.text_field :where, class: "full input-limit", placeholder: "The Batcave", data: { limit: "25", inputname: "where" }%>
						<span class="input-limit-tracker" data-inputname="where">0/25</span>
					</div>
					<div class="col-sm-8 col-xs-12">
						<label>City</label><br>
						<%=	f.text_field :city, class: "full input-limit", placeholder: "Gotham", data: { limit: "20", inputname: "city" }%>
						<span class="input-limit-tracker" data-inputname="city">0/20</span>
					</div>
					<div class="col-sm-4 col-xs-12">
						<label>State</label><br>
						<%=	f.text_field :state, class: "full input-limit", placeholder: "New Jersey", data: { limit: "15", inputname: "state" }%>
						<span class="input-limit-tracker" data-inputname="state">0/15</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label>Address</label><br>
						<%=	f.text_field :address, class: "full input-limit", placeholder: "123 Batcave Lane", data: { limit: "30", inputname: "address" }%>
						<span class="input-limit-tracker" data-inputname="address">0/30</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label>Zipcode</label><br>
						<%=	f.text_field :zipcode, class: "full input-limit", placeholder: "12345", data: { limit: "12", inputname: "zipcode" }%>
						<span class="input-limit-tracker" data-inputname="zipcode">0/12</span>
					</div>
					<div class="start-end-wrapper col-xs-12 clearfixs">
						<div class="col-sm-6 col-xs-12 start">
							<label>Start</label><br>
							<input type="text" class="span2 large" name="event[date_start]" placeholder='<%= Date.today.strftime("%m/%d/%Y") %>' id="dpt1" value="<%= @event.date_start != nil ? @event.date_start.strftime("%m/%d/%Y") : Date.today.strftime("%m/%d/%Y") %>">
							<%=	f.text_field :time_start, class: "timepicker large", placeholder: "#{Time.now.strftime('%I : %M %p')}", value: "#{@event.time_start != nil ? @event.time_start.strftime('%I : %M %p') : Time.now.strftime('%I : %M %p')}" %>
						</div>
						<div class="col-sm-6 col-xs-12 end">
							<label>End</label><br>
							<input type="text" class="span2 large" name="event[date_end]" placeholder='<%= Date.today.strftime("%m/%d/%Y") %>' id="dpt2" value="<%= @event.date_end != nil ? @event.date_end.strftime("%m/%d/%Y") : Date.today.strftime("%m/%d/%Y") %>">
							<%=	f.text_field :time_end, class: "timepicker large", placeholder: "#{Time.now.strftime('%I : %M %p')}", value: "#{@event.time_end != nil ? @event.time_end.strftime('%I : %M %p') : Time.now.strftime('%I : %M %p')}"%>
						</div>
					</div>
						<!-- div.start-end-wrapper -->
					<div class="col-xs-12">
						<label>Highlights/Btw's</label><br>
						<%=	f.text_area :highlights, class: "full textarea highlights input-limit", placeholder: "Don't tell anyone the whereabouts of The Batcave. No pets allowed in The Batcave. ESPECIALLY BATS", data: { limit: "120", inputname: "highlights" }%>
						<span class="input-limit-tracker" data-inputname="highlights">0/120</span>
					</div>
					<div class="col-xs-12">
						<label>Description</label><br>
						<%= f.text_area :description, class: "full textarea description", placeholder: "Movie Night! This Saturday we're gonna go for sci-fi movies. So everyone bring your best sci-fi movie and we'll take a group vote! Oh, and bring drinks and snacks! We'll order pizza if we end up really hungry. See you guys there!" %>
					</div>
					<div class="col-xs-12">
						<a class="edit-categories" href="/events/<%= @event.id %>/categories/edit">Edit Categories</a>
					</div>
					<div class="text-center col-sm-12 col-xs-12">
						<%= f.submit id:"edit-event-submit", class: "btn btn-default", value: "Save Changes" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
	  $('#dpt1').fdatepicker({
			format: 'mm/dd/yyyy',
			disableDblClickSelection: true,
		});
	  $('#dpt2').fdatepicker({
			format: 'mm/dd/yyyy',
			disableDblClickSelection: true,
		});
	});
</script>

<!-- "title"
"description"
"date"
"time"
"where" -->