<div id="event-new-container" class="default-container">
	<div class="clearfixs event-form-container">
		<div class="errors-container">
          <% if @event.errors.any? %>
            <div id="error-explanation">
              <i class="fa fa-exclamation-circle"></i>
              <ul>
              <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        	<!-- errors-container -->
		<div class="form-container">
			<%= form_for @event, url: '/events', method: "post" do |f| %>
				<div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Name of Event</label><br>
						<%=	f.text_field :title, class: "full input-limit", placeholder: "Sci-Fi Saturday", data: { limit: "22", inputname: "title" }%>
						<span class="input-limit-tracker event-edit" data-inputname="title">0/22</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Search Key</label><br>
						<%=	f.text_field :search_key, class: "full input-limit", placeholder: "movie night", data: { limit: "15", inputname: "search_key" }%>
						<span class="input-limit-tracker event-edit" data-inputname="search_key">0/15</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label for="photo">Upload Picture(s)</label><br><span id="filename"></span>
						<div class="event-img-container event-photo-container col-xs-12 col-sm-12">
							<label for="event_photo">
								<div class="file-label">
									<div class="button">
										<div><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp; Photo</div>
									</div>
									<span id="photo-filename"></span>
								</div>
							</label>
						</div>
							<!-- div.event-photo-container -->
						<div class="event-img-container event-banner-container col-xs-12 col-sm-12">
							<label for="event_banner">
								<div class="file-label">
									<div class="button">
										<div><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;Banner</div>
									</div>
									<span id="banner-filename"></span>
								</div>
							</label>
						</div>
	                 	<%= f.file_field :photo, class: "photos medium" %>
	                 	<%= f.file_field :banner, class: "photos medium" %>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Name of Venue</label><br>
						<%=	f.text_field :where, class: "full input-limit", placeholder: "The Batcave", data: { limit: "25", inputname: "where" }%>
						<span class="input-limit-tracker event-edit" data-inputname="where">0/25</span>
					</div>
					<div class="col-sm-8 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> City</label><br>
						<%=	f.text_field :city, class: "full input-limit", placeholder: "Gotham", data: { limit: "20", inputname: "city" }%>
						<span class="input-limit-tracker event-edit" data-inputname="city">0/20</span>
					</div>
					<div class="col-sm-4 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> State</label><br>
						<%=	f.text_field :state, class: "full input-limit", placeholder: "New Jersey", data: { limit: "15", inputname: "state" }%>
						<span class="input-limit-tracker event-edit" data-inputname="state">0/15</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Address</label><br>
						<%=	f.text_field :address, class: "full input-limit", placeholder: "123 Batcave Lane", data: { limit: "30", inputname: "address" }%>
						<span class="input-limit-tracker event-edit" data-inputname="address">0/30</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Zipcode</label><br>
						<%=	f.text_field :zipcode, class: "full input-limit", placeholder: "12345", data: { limit: "12", inputname: "zipcode" }%>
						<span class="input-limit-tracker event-edit" data-inputname="zipcode">0/12</span>
					</div class="col-sm-4 col-xs-12">
					<div class="start-end-wrapper col-xs-12 clearfixs">
						<div class="col-sm-6 col-xs-12 start">
							<label><i class="fa fa-asterisk" aria-hidden="true"></i> Start</label><br>
							<input type="text" class="span2 large" name="event[date_start]" placeholder='<%= Date.today.strftime("%m/%d/%Y") %>' id="dpt1" value="<%= @event.date_start != nil ? @event.date_start.strftime("%m/%d/%Y") : Date.today.strftime("%m/%d/%Y") %>">
							<%=	f.text_field :time_start, class: "timepicker large", placeholder: "#{Time.now.strftime('%I : %M %p')}"%>
						</div>
						<div class="col-sm-6 col-xs-12 end">
							<label>End</label><br>
							<input type="text" class="span2 large" name="event[date_end]" placeholder='<%= Date.today.strftime("%m/%d/%Y") %>' id="dpt2" value="<%= @event.date_end != nil ? @event.date_end.strftime("%m/%d/%Y") : Date.today.strftime("%m/%d/%Y") %>">
							<%=	f.text_field :time_end, class: "timepicker large", placeholder: "#{Time.now.strftime('%I : %M %p')}"%>
						</div>
					</div>
						<!-- div.start-end-wrapper -->
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Highlights/Btw's</label><br>
						<%=	f.text_area :highlights, class: "full textarea highlights input-limit", placeholder: "Don't tell anyone the whereabouts of The Batcave. No pets allowed in The Batcave. ESPECIALLY BATS", data: { limit: "120", inputname: "highlights" }%>
						<span class="input-limit-tracker event-edit" data-inputname="highlights">0/120</span>
					</div>
					<div class="col-sm-12 col-xs-12">
						<label><i class="fa fa-asterisk" aria-hidden="true"></i> Description</label><br>
						<%= f.text_area :description, class: "full textarea description", placeholder: "Movie Night! This Saturday we're gonna go for sci-fi movies. So everyone bring your best sci-fi movie and we'll take a group vote! Oh, and bring drinks and snacks! We'll order pizza if we end up really hungry. See you guys there!" %>
					</div>
					<div class="col-sm-12 col-xs-12">
						<div id="categories-container">
							<div id="categories-header">
								Categories
								<button id="categories-add" class="site-button" type="button">
									Add
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div><br>
								<!-- div#categories-header -->
							<% if @categories == nil %>
								<div class="category-box clearfixs">
									<div class="category-title col-sm-8 col-xs-12">
										<label><i class="fa fa-asterisk" aria-hidden="true"></i> Title</label><br>
										<input name="categories[][title]" type="text" placeholder="Utensils" class="full input-limit" data-inputname="cat_title" data-limit="12">
										<span class="input-limit-tracker event-edit" data-inputname="cat_title">0/12</span>
									</div>
										<!-- div.category-title -->
									<div class="category-needed col-sm-4 col-xs-12">
										<label class="items-requested"><i class="fa fa-asterisk" aria-hidden="true"></i> Amount</label><br>
										<input name="categories[][needed]" type="number" placeholder="4" class="full">
									</div>
										<!-- div.category-needed -->
									<div class="category-description col-xs-12">
										<label><i class="fa fa-asterisk" aria-hidden="true"></i> Description</label><br>
										<textarea class="full textarea description input-limit" placeholder="Forks, plates, cups and anything that's like!" name="categories[][description]" data-inputname="cat_description" data-limit="300"></textarea>
										<span class="input-limit-tracker event-edit" data-inputname="cat_description">0/300</span>
									</div>
										<!-- div.category-needed -->
								</div>
										<!-- div.category-box -->
							<% else %>
								<% @categories.each do |category| %>
									<div class="category-box clearfixs">
										<div class="category-title col-sm-8 col-xs-12">
											<label><i class="fa fa-asterisk" aria-hidden="true"></i> Title</label><br>
											<input name="categories[][title]" type="text" placeholder="Utensils" class="full input-limit" value="<%= category[:title] %>" data-inputname="cat_title" data-limit="12">
											<span class="input-limit-tracker event-edit" data-inputname="cat_title">0/12</span>
										</div>
											<!-- div.category-title -->
										<div class="category-needed col-sm-4 col-xs-12">
											<label class="items-requested"><i class="fa fa-asterisk" aria-hidden="true"></i> Amount</label><br>
											<input name="categories[][needed]" type="number" placeholder="4" class="full" value="<%= category[:needed] %>">
										</div>
											<!-- div.category-needed -->
										<div class="category-description col-xs-12">
											<label><i class="fa fa-asterisk" aria-hidden="true"></i> Description</label><br>
											<textarea class="full textarea description input-limit" placeholder="Forks, plates, cups and anything that's like!" name="categories[][description]"  data-inputname="cat_description" data-limit="300"><%= category[:description] %></textarea>
											<span class="input-limit-tracker event-edit" data-inputname="cat_description">0/300</span>
										</div>
											<!-- div.category-needed -->
									</div>
											<!-- div.category-box -->
								<% end %>
							<% end %>
						</div>
							<!-- div#categories-container -->
					</div>
					<div class="text-center">
						<%= f.submit id:"new-event-submit", class: "btn btn-default", value: "Create Event" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
	  $('#dpt1').fdatepicker({
			format: 'mm/dd/yyyy',
			disableDblClickSelection: true,
		});
	  $('#dpt2').fdatepicker({
			format: 'mm/dd/yyyy',
			disableDblClickSelection: true,
		});
	});
</script>

<!-- "title"
"description"
"date"
"time"
"where" -->