<!-- guests attending modals -->
<%= render "partials/guestsmodal" %>
<!-- invite modal -->
<%= render "partials/invitemodal" %>

<div id="event-show-container" class="default-container">
	<%= render "partials/bannercontainer" %>
	<div id="information-section" class="clearfixs">
		<div id="information" class="col-lg-8 col-md-8 col-sm-8">
			<div id="time" class="info-box">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<%= @event.time_start.strftime("%I:%M%P") %>
				<% if @event.time_end != nil %>
					- <%= @event.time_end.strftime("%I:%M%P") %>
				<% end %>
			</div>
			<div id="place" class="info-box">
				<i class="fa fa-compass" aria-hidden="true"></i>
				<%= @event.where %>
				<div id="address-details">
					<span id="event-address"><%= @event.address %></span>  <span id="city-zip-container"><span id="event-city"><%= @event.city %> <span id="event-zipcode"><%= @event.zipcode %>,</span></span></span> <span id="event-state"><%= @event.state %></span>
				</div>
			</div>
			<div id="highlights" class="info-box">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				<%= @event.highlights %>
			</div>
			<div id="description" class="info-box">
				<%= @event.description %>
			</div>
		</div>
			<!-- div#information -->
		<div id="additional-information" class="col-lg-4 col-md-4 col-sm-4">
			<div id="guests" class="info-box clearfixs">
				<div id="guests-header">Guests</div>
				<div id="going-guests" class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num"><%= @event.attending_events.where({going: true}).count %></div>
					<div class="guests-cat">Attending</div>
				</div>
				<div id="declined-guests" class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num"><%= @event.attending_events.where({declined: true}).count %></div>
					<div class="guests-cat">Declined</div>
				</div>
				<div id="maybe-guests" class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num"><%= @event.attending_events.where({maybe: true}).count %></div>
					<div class="guests-cat">Maybe</div>
				</div>
				<div id="invited-guests" class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num"><%= @event.attending_events.count %></div>
					<div class="guests-cat">Invited</div>
				</div>
			</div>
			<div id="mobile-category">
				Categories
			</div>
			<!-- div#categories-container -->
			<%= render "partials/categoriescontainer" %>
		</div>
			<!-- div#additional-information -->
	</div>
		<!-- div#information-section -->
	<div id="comment-section">
		<div id="add-comment-container">
			<%= form_tag("/events/#{@event.id}/comments", method: "post", id: "add_comment") do %>
				<div class="clearfixs">
					<div class="profile-pic-container">
						<div class="profile-pic">
							<img src="<%= image_path(current_user.avi(:thumb)) %>">
						</div>
					</div>
					<div class="textarea-container">
						<%= text_area(:comments, :post, id: "comment_post", required: true) %>
					</div>
					<div class="submit-button-container">
						<% if current_user == nil %>
							<a href="/">Sign In to add a comment</a>
						<% else %>
							<%= submit_tag "Add Comment", class: "btn btn-default site-button" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<% @event.comments.order('id DESC').each do |comment| %>
			<div class="comment-container">
				<div class="user-avi">
					<img src="<%= image_path(current_user.avi(:thumb)) %>">
				</div>
				<div class="comment-made">
					by <span class="username"><%=comment.user.username%></span> on <%= comment.created_at.strftime("%b %d") %>
				</div>
				<div class="post-container">
					<p><%= comment.post %></p>
				</div>
			</div>
		<% end %>
	</div>
		<!-- div#comment-section -->
</div>

<div class="guest">
	<div class="img-circle">
		<img src=""/>
	</div>
</div>