<div id="event-show-container">
	<div id="banner-container">
		<div id="banner-overlay" class="clearfixs">
			<div id="date-container">
				<div id="date-box">
					<div id="date-mon">
						<%= @event.date_start.strftime("%b") %>
					</div>
					<div id="date-day">
						<%= @event.date_start.strftime("%d") %>
					</div>
				</div>
			</div>
				<!-- div#date-container -->
			<div id="title-container">
				<div id="title"><%= @event.title %> <span class="event-host"> hosted by <span class="host-name"><%= @event.user.username %></span></span></div>
			</div>
				<!-- div#title-container -->
		</div>
	</div>
		<!-- div#banner-container -->
	<div id="information-section" class="clearfixs">
		<div id="information" class="col-lg-8 col-md-8 col-sm-8">
			<div id="time" class="info-box">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<%= @event.time_start.strftime("%I:%M%P") %>
				<% if @event.time_end != nil %>
					- <%= @event.time_end.strftime("%I:%M%P") %>
				<% end %>
			</div>
			<div id="place" class="info-box">
				<i class="fa fa-compass" aria-hidden="true"></i>
				<%= @event.where %>
				<div id="address-details">
					<%= @event.address %> <%= @event.city %> <%= @event.zipcode %>, <%= @event.state %>
				</div>
			</div>
			<div id="highlights" class="info-box">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				<%= @event.highlights %>
			</div>
			<div id="description" class="info-box">
				Bacon ipsum dolor amet pastrami turducken shank leberkas spare ribs pork belly tenderloin cow. Jowl swine kielbasa porchetta, andouille short ribs turducken brisket boudin pork loin. Fatback tail frankfurter short ribs kielbasa chicken bresaola chuck. Tongue meatball capicola jerky fatback jowl cupim sausage prosciutto tail turducken pork chop ball tip.

				Tri-tip ground round shank, kevin boudin sausage spare ribs pork belly turkey fatback tenderloin ham meatloaf. Beef picanha landjaeger spare ribs leberkas cow short ribs turducken pig t-bone. Short loin ground round shoulder short ribs meatloaf. Brisket boudin pork chop, jerky kevin turkey frankfurter ribeye tri-tip short ribs sirloin salami meatball venison. Meatloaf tenderloin alcatra, t-bone corned beef ground round landjaeger tongue frankfurter hamburger pig kielbasa cupim filet mignon strip steak. Boudin bresaola cupim, pancetta prosciutto hamburger chuck meatloaf ground round doner.</div>
		</div>
			<!-- div#information -->
		<div id="additional-information" class="col-lg-4 col-md-4 col-sm-4">
			<div id="guests" class="info-box">
				<div id="guests-header">Guests</div>
				<div class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num">0</div>
					<div class="guests-cat">Attending</div>
				</div>
				<div class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num">0</div>
					<div class="guests-cat">Declined</div>
				</div>
				<div class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num">0</div>
					<div class="guests-cat">Maybe</div>
				</div>
				<div class="guests-info col-sm-6 col-xs-3">
					<div class="guests-num">0</div>
					<div class="guests-cat">Invited</div>
				</div>
			</div>
			<div id="whos-bringing-what" class="info-box">
				<div id="categories-header">
					Who's Bringing What?
				</div>
				<% @event.categories.each do |category|%>
					<div class="category">
						<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.length %>/<%= category.needed %></span>
						<span class="cat-name"> <a href="/events/<%= @event.id %>/categories/<%= category.id %>"><%= category.title %></a></span>
					</div>
				<% end %>
			</div>
		</div>
			<!-- div#additional-information -->
	</div>
		<!-- div#information-section -->
	<div id="comment-section">
		<div id="add-comment-container">
			<%= form_tag("/events/#{@event.id}/comments", method: "post", id: "add_comment") do %>
				<div class="clearfixs">
					<div class="profile-pic-container">
						<div class="profile-pic">
						</div>
					</div>
					<div class="textarea-container">
						<%= text_area(:comments, :post, id: "comment_post") %>
					</div>
					<div class="submit-button-container">
						<% if current_user == nil %>
							<a href="/">Sign In to add a comment</a>
						<% else %>
							<%= submit_tag "Add Comment", class: "btn btn-default site-button" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<% @event.comments.order('id DESC').each do |comment| %>
			<div class="comment-container">
				<div class="user-avi"></div>
				<div class="comment-made">
					by <span class="username"><%=comment.user.username%></span> on <%= comment.created_at.strftime("%b %d") %>
				</div>
				<div class="post-container">
					<p><%= comment.post %></p>
				</div>
			</div>
		<% end %>
	</div>
		<!-- div#comment-section -->
</div>