<div id="my-friend-requests" class="default-container">
	<div id="container">
		<div id="header">
			Friend Requests
		</div>
			<!-- div#friend-request-container -->
		<% if @friend_requests.count < 1 %>
			<div class="empty">
				No pending friend requests
			</div>
				<!-- div.no-friend-requests -->
		<% else %>
			<% @friend_requests.each do |fr| %>
				<div class="friend-box clearfixs">
					<img src="<%= image_path(fr.user.avi(:small)) %>">
					<div class="information">
						<span class="username"><%= fr.user.username %></span>
						<span class="from"><%= fr.user.from %></span>
						<span class="email"><%= fr.user.email %></span>
					</div>
						<!-- div.information -->
					<div id="button-container">
						<button id="accept-friend-request" class="site-button accept" data-friendship-id="<%= fr.id %>">Accept</button>
						<button id="decline-friend-request" class="site-button decline" data-friendship-id="<%= fr.id %>">Decline</button>
					</div>
						<!-- div#button-container -->
				</div>
					<!-- div.friend-request-box -->
			<% end %>
				<!-- @friend_requests.each -->
		<% end %>
	</div>
		<!-- div#friend-request-container -->
</div>
	<!-- div#my-friend-requests -->