<% eventId = @item.category.event.id %>
<div id="items-show-container" class="default-container">
	<%= render "partials/bannercontainer" %>
	<div id="information-section" class="clearfixs">
		<div id="overview-container" class="col-lg-4 col-md-4 col-sm-4">
			<div id="categories-container" class="info-box">
				<div id="categories-header">
					Who's Bringing What?
				</div>
				<% if @item.category.event.categories.count <= 4 %>
					<% 2.times do %> 
						<% @item.category.event.categories.each do |category| %>
							<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
								<div id="" class="<%= category.title.gsub(/\s+/, '') %> category">
									<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
									<span class="cat-name"> <%= category.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% elsif @item.category.event.categories.count <= 2 %>
					<% 3.times do %> 
						<% @item.category.event.categories.each do |category| %>
							<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
								<div id="" class="<%= category.title.gsub(/\s+/, '') %> category">
									<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
									<span class="cat-name"> <%= category.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% end %>
				<% @item.category.event.categories.each do |category| %>
					<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
						<div id="" class="<%= category.title.gsub(/\s+/, '') %> category">
							<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
							<span class="cat-name"> <%= category.title %></span>
						</div>
					</a>
				<% end %>
			</div>
				<!-- div#categories-container -->
			<div id="items-container" class="info-box">
				<div id="items-header"><%= @item.category.title %> registered</div>
				<% if @item.category.items.count <= 4 %>
					<% 2.times do %> 
						<% @item.category.items.each do |item| %>
							<a href="/events/<%= eventId %>/categories/<%= @item.category.id%>/items/<%= item.id %>">
								<div id="" class="<%= item.title.gsub(/\s+/, '') %> item additional">
									<span class="item-title"><%= item.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% elsif @item.category.items.count <= 2 %>
					<% 3.times do %> 
						<% @item.category.items.each do |item| %>
							<a href="/events/<%= eventId %>/categories/<%= @item.category.id%>/items/<%= item.id %>">
								<div id="" class="<%= item.title.gsub(/\s+/, '') %> item additional">
									<span class="item-title"><%= item.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% else %>
				<% end %>
				<% @item.category.items.each do |item| %>
					<a href="/events/<%= eventId %>/categories/<%= @item.category.id%>/items/<%= item.id %>">
						<div id="" class="<%= item.title.gsub(/\s+/, '') %> item">
							<span class="item-title"><%= item.title %></span>
						</div>
					</a>
				<% end %>
			</div>
				<!-- div#items-container -->
		</div>
		<div id="item-container" class="col-lg-8 col-md-8 col-sm-8">
			<div id="item" class="info-box">
				<div id="item-header">
					<%= @item.title %> <span class="brought-by">brought by <%= @item.user.username %></span>
				</div>
				<div id="item-description">
					<%= @item.description %>
				</div>
			</div>
			<a href="/events/<%= eventId%>/categories/<%=@item.category.id %>/items/new" id="bring-item">
				<button class="btn btn-default site-button"> 
					Bring Item
				</button>
			</a>
		</div>
	</div> 
</div>
	<!-- div#categories-show-container -->

<script type="text/javascript">
	var category = '<%= raw(@item.category.to_json) %>';
	var item = '<%= raw(@item.to_json) %>';
</script>