<div id="categories-new-container" class="default-container">
	<!-- banner container -->
	<%= render "partials/bannercontainer" %>
	<div class="clearfixs">
		<div id="form-container">
			<div id="category-for">
				Category for <%= @event.title %>
			</div>
				<!-- div#category-for -->
			<%= form_for @category, url: "/events/#{@event.id}/categories", method: "post" do |f| %>
				<div id="input-container" class="clearfixs">
					<div class="input-box col-sm-8 col-xs-12">
						<label>Name</label><br>
						<%=	f.text_field :title, class: "full", placeholder: "Utensils"  %>
					</div>
					<div class="input-box col-sm-4 col-xs-12">
						<label class="items-requested">Items Requested</label><br>
						<%=	f.number_field :needed, class: "", placeholder: "4"%>
					</div>
					<div class="input-box col-sm-12 col-xs-12">
						<label>Description</label><br>
						<%=	f.text_area :description, class: "", placeholder: "Forks, plates, cups and anything that's like!"  %>
					</div>
					<%= f.submit "Create", class: "site-button" %>
				</div>
					<!-- div#input-container -->
			<% end %> 
		</div>
	</div>
</div>
	<!-- div#cateogies-new-container -->