<%= render "partials/navbar" %> 

<h3>Add a category to "<%= @event.title%>"</h3>
<div class="container">
	<% if @event.categories.length === 0%>
		No categories in this event yet
	<% else %>
		<h4>Other categories in this event</h4>
		<% @event.categories.each do |category| %>
			<div class="container">
				<%= category.title %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="form-container">
		<%= form_for @category, url: 
		"/categories/#{@event.id}/create", method: "post" do |f| %>
			<div class="text-center">
				<label>Name of Category</label><br>
				<%=	f.text_field :title, placeholder: '"Entrees", "Utensils", etc.' %>
				<br><br>
				<label>Description</label><br>
				<%= f.text_area :description, placeholder: 'Thanksgiving themed courses! Yaaaas!' %>
				<br>
			</div>
			<br>
			<div class="text-center">
				<%= f.submit class: "btn btn-default", value: "Create Category" %>
			</div>

		<% end %>
</div>