<div id="categories-new-container" class="default-container">
	<!-- banner container -->
	<%= render "partials/bannercontainer" %>
	<div class="clearfixs">
		<div id="form-container">
			<div id="category-for">
				Category for <%= @event.title %>
			</div>
				<!-- div#category-for -->
			<div class="errors-container">
	          <% if @category.errors.any? %>
	            <div id="error-explanation">
	              <i class="fa fa-exclamation-circle"></i>
	              <ul>
	              <% @category.errors.full_messages.each do |msg| %>
	                <li><%= msg %></li>
	              <% end %>
	              </ul>
	            </div>
	          <% end %>
	        </div>
	        	<!-- errors-container -->
			<%= form_for @category, url: "/events/#{@event.id}/categories", method: "post" do |f| %>
				<div id="input-container" class="clearfixs">
					<div class="input-box col-sm-8 col-xs-12">
						<label>Name</label><br>
						<%=	f.text_field :title, class: "full input-limit", placeholder: "Utensils", data: {inputname: "cat_title", limit: "12" } %>
						<span class="input-limit-tracker event-edit" data-inputname="cat_title">0/12</span>
					</div>
					<div class="input-box col-sm-4 col-xs-12">
						<label class="items-requested">Items Requested</label><br>
						<%=	f.number_field :needed, class: "", placeholder: "4"%>
					</div>
					<div class="input-box col-sm-12 col-xs-12">
						<label>Description</label><br>
						<%=	f.text_area :description, class: " input-limit", placeholder: "Forks, plates, cups and anything that's like!", data: {inputname: "cat_description", limit: "300" } %>
						<span class="input-limit-tracker event-edit" data-inputname="cat_description">0/300</span>
					</div>
					<%= f.submit "Create", class: "site-button" %>
				</div>
					<!-- div#input-container -->
			<% end %> 
		</div>
	</div>
</div>
	<!-- div#cateogies-new-container -->