<% eventId = @category.event.id %>
<div id="categories-show-container" class="default-container">
	<%= render "partials/bannercontainer" %>
	<div id="information-section" class="clearfixs">
		<div id="overview-container" class="col-lg-4 col-md-4 col-sm-4">
			<div id="categories-container" class="info-box">
				<div id="categories-header">
					Who's Bringing What?
				</div>
				<% if @category.event.categories.count <= 4 %>
					<% 2.times do %> 
						<% @category.event.categories.each do |category| %>
							<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
								<div id="<%= category.title.gsub(/\s+/, '') %>" class="category">
									<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
									<span class="cat-name"> <%= category.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% elsif @category.event.categories.count <= 2 %>
					<% 3.times do %> 
						<% @category.event.categories.each do |category| %>
							<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
								<div id="<%= category.title.gsub(/\s+/, '') %>" class="category">
									<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
									<span class="cat-name"> <%= category.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% end %>
				<% @category.event.categories.each do |category| %>
					<a href="/events/<%= @event.id %>/categories/<%= category.id %>">
						<div id="<%= category.title.gsub(/\s+/, '') %>" class="category">
							<span class="cat-count <%= 'enough' unless category.enough_items? === false %> "><%= category.items.count %>/<%= category.needed %></span>
							<span class="cat-name"> <%= category.title %></span>
						</div>
					</a>
				<% end %>
			</div>
				<!-- div#categories-container -->
			<div id="items-container" class="info-box">
				<div id="items-header"><%= @category.title %> registered</div>
				<% if @category.items.count <= 4 %>
					<% 2.times do %> 
						<% @category.items.each do |item| %>
							<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
								<div class="item additional">
									<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% elsif @category.items.count <= 2 %>
					<% 3.times do %> 
						<% @category.items.each do |item| %>
							<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
								<div class="item additional">
									<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% else %>
				<% end %>
				<% @category.items.each do |item| %>
					<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
						<div class="item">
							<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
						</div>
					</a>
				<% end %>
			</div>
				<!-- div#items-container -->
		</div>
		<div id="category-container" class="col-lg-8 col-md-8 col-sm-8">
			<div id="category" class="info-box">
				<div id="category-header">
					<%= @category.title %>
				</div>
				<div id="items-count-container">
					<span>
						Signed up: <span class="cat-count"><%= @category.items.count %></span>
					</span>
					<br>
					<span>
						Requested: <span class="cat-count"><%= @category.needed %></span>
					</span>
				</div>
				<div id="description">
					<p><%= @category.description %></p>
				</div> 
			</div>
			<button class="btn btn-default site-button"> 
				Bring Item
			</button>
		</div>
	</div> 
</div>
	<!-- div#categories-show-container -->

<script type="text/javascript">
	var category = '<%= raw(@category.to_json) %>';
</script>