<!-- invite modal -->
<%= render "partials/invitemodal" %>

<% eventId = @category.event.id %>
<div id="categories-show-container" class="default-container">
	<!-- banner container -->
	<%= render "partials/bannercontainer" %>
	<div id="information-section" class="clearfixs">
		<div id="overview-container" class="col-lg-4 col-md-4 col-sm-4">
			<!-- div#categories-container -->
				<%= render "partials/categoriescontainer" %>
			<div id="items-container" class="info-box <%= @category.items.count == 0 ? 'empty' :  '' %>">
				<div id="items-header"><%= @category.title %> registered</div>
				<% if @category.items.count == 0%>
					No items registered yet
				<% elsif @category.items.count <= 2 %>
					<% @category.items.each do |item| %>
						<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
							<div class="item" data-item-id="<%= item.id %>">
								<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
							</div>
						</a>
					<% end %>
					<% 2.times do %> 
						<% @category.items.each do |item| %>
							<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
								<div class="item additional" data-item-id="<%= item.id %>">
									<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
								</div>
							</a>
						<% end %>
					<% end %>
				<% elsif @category.items.count <= 4 %>
					<% @category.items.each do |item| %>
						<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
							<div class="item" data-item-id="<%= item.id %>">
								<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
							</div>
						</a>
					<% end %>
					<% @category.items.each do |item| %>
						<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
							<div class="item additional" data-item-id="<%= item.id %>">
								<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
							</div>
						</a>
					<% end %>
				<% elsif @category.items.count >= 5 %>
					<% @category.items.each do |item| %>
						<a href="/events/<%= eventId %>/categories/<%= @category.id%>/items/<%= item.id %>">
							<div class="item" data-item-id="<%= item.id %>">
								<span id="<%=item.title%>" class="item-title"><%= item.title %></span>
							</div>
						</a>
					<% end %>
				<% end %>
			</div>
				<!-- div#items-container -->
		</div>
		<div id="category-container" class="col-lg-8 col-md-8 col-sm-8">
			<div id="category" class="info-box">
				<div id="category-header">
					<%= @category.title %>
				</div>
				<div id="items-count-container">
					<span>
						Signed up: <span class="cat-count"><%= @category.items.count %></span>
					</span>
					<br>
					<span>
						Requested: <span class="cat-count"><%= @category.needed %></span>
					</span>
				</div>
				<div id="description">
					<p><%= @category.description %></p>
				</div> 
			</div>
			<a href="/events/<%= eventId%>/categories/<%=@category.id %>/items/new" id="bring-item">
				<button class="btn btn-default site-button"> 
					Bring Item
				</button>
			</a>
		</div>
	</div> 
</div>
	<!-- div#categories-show-container -->

<script type="text/javascript">
	var category = <%= raw(@category.to_json) %>;
</script>