<!DOCTYPE html>
<html>
<head>
  <title>The Deets</title>
  	  <meta charset="utf-8" />
	  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- JS -->
  <!-- // <script type="text/javascript" src="jquery-1.11.3.min.js"></script> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if current_user %>
    <%= render "partials/navbar" %> 
  <% end %>
<div id="layout-wrapper">
	<%= yield %>
</div>

</body>
</html>
